<template>
  <div>
  <div class='md-layout md-gutter'>
    <div class='md-layout-item'>
    </div>
    <div class='md-layout-item md-size-40'>
      {{user.name}}
    </div>
  </div>
  <div class='md-layout md-gutter'>
    <div class='md-layout-item'>
      <img src='../main/img/clock03.jpeg' alt='img'>
    </div>
    <div class='md-layout-item md-size-40'>
        <div class='md-layout-item md-size-100'>
      <b-row style='height:100%; width: 100%; text-center'>
        <div class='card-header'  style='width:70%; margin-left: auto; margin-right: auto;'>
            <div class='md-layout md-gutter'>
              <div class='md-layout-item md-size-20'>_</div>
              <div class='md-layout-item md-size-40'>Date </div>
              <div class='md-layout-item md-size-40'>Function </div>
            </div>
        </div>
        <div class='' style='width: 70%; margin-left: auto; margin-right: auto;'>
          <div class='list-wrraper'>
            <div class='md-layout md-gutter' v-for='(item,index) in topUser' :key='item.id'>
              <div class='md-layout-item md-size-20'>{{index}}</div>
              <div class='md-layout-item md-size-40'>{{item.date}} </div>
              <div class='md-layout-item md-size-40'>{{item.func}} </div>
            </div>
          </div>
        </div>
      </b-row>
    </div>
    </div>
  </div>
  </div>
</template>

<script>
import Vue from 'vue';
import VueMaterial from 'vue-material';
import 'vue-material/dist/vue-material.min.css';

export default {
  name: 'Dashboard',
  data() {
    return {
       slide: 0,
      sliding: null,
      conexkhung: false,
      user: {
        name: 'Ca Ca',
      },
      topUser: [{
        date: 'data 1',
        func: 'top',
        },
        {
       date: 'data 2',
        func: 'bottom',
        },
        {
      date: 'data 3',
        func: 'bottom',
        },
        {
       date: 'data 4',
        func: 'middle',
        },
        {
         date: 'data 5',
        func: 'top',
        },
        {
         date: 'data 6',
        func: 'middle',
        },
        {
         date: 'data 7',
        func: 'middle',
        },
        {
         date: 'data 8',
        func: 'top  ',
        }],
    };
  },

  methods: {
    onSlideStart(slide) {
        this.sliding = true;
      },
      onSlideEnd(slide) {
        this.sliding = false;
      },
    onSubmit(evt) {
      const self = this;
    },
  },
};
</script>
<style lang='scss' scoped>
@import '~vue-material/src/components/MdAnimation/variables.scss';
  .md-layout-item {
    height: 40px;

    &:after {
      width: 100%;
      height: 100%;
      display: block;
      background: md-get-palette-color(green, 200);
      content: ' ';
    }
  }
</style>

