<template>    
<div id='wrapper'>
    <div class='main-container'> 
      <div class='container-wrapper' data-simplebar>
        <div class='content'>     
           <div id='fform'>
              <b-form @submit='onSubmit'>
                <b-card header-text-variant='white'>
                    <h4 slot='header' class='font-weight-bold text-center' style='color: black'>Đăng kí</h4>
                    <b-card-body>
                        <b-form-group>
                          <b-form-input type='text' placeholder='Họ'></b-form-input>
                        </b-form-group>
                        <b-form-group>
                            <b-form-input type='text' placeholder='Tên'></b-form-input>
                        </b-form-group>
                        
                        <!-- <b-form-group label='Email:' label-class='font-weight-bold font-family: 'Roboto Condensed''> -->
                        <b-form-group>
                            <b-form-input type='text' placeholder='Nhập email'></b-form-input>
                        </b-form-group>
                        <!-- </b-form-group> -->

                        <!-- <b-form-group label='Mật khẩu:' label-class='font-weight-bold font-family: 'Roboto Condensed''> -->
                        <b-form-group>
                            <b-form-input type='password' placeholder='Mật khẩu'></b-form-input>
                        </b-form-group>                      
                        <!-- </b-form-group> -->
                        

                        <b-form-group label='Ngày sinh' label-class='font-weight-bold font-family: 'Roboto Condensed''>
                          <select v-model='selected'>
                              <option disabled value=''>Ngày</option>
                              <option>1</option>
                              <option>2</option>
                              <option>3</option>
                            </select>
                            <!-- <span> {{ selected }}</span> -->
                            
                            <select v-model='selected'>
                                <option disabled value=''>Tháng</option>
                                <option>1</option>
                                <option>2</option>
                                <option>3</option>
                              </select>
                              <!-- <span> {{ selected }}</span> -->

                              <select v-model='selected'>
                                  <option disabled value=''>Năm</option>
                                  <option>1</option>
                                  <option>2</option>
                                  <option>3</option>
                                </select>
                                <!-- <span> {{ selected }}</span> -->
                        </b-form-group>
                        
                        <b-form-group label='Giới tính' label-class='font-weight-bold font-family: 'Roboto Condensed''>
                            <select v-model='selected'>
                                <option disabled value=''>Giới tính</option>
                                <option>Nữ</option>
                                <option>Nam</option>
                              </select>
                              <!-- <span> {{ sex-selected }}</span> -->
                          </b-form-group>

                      <b-form-group><router-link to='signup' class='float-right font-family: 'Roboto Condensed''>Đăng kí</router-link></b-form-group>
                      <router-link to='login' class='float-right'>Quên mật khẩu?</router-link>

                    </b-card-body>
                    <b-card-footer>
                      <b-button type='submit' style='width: 100%; display: flex; justify-content: center; backgroundColor: #1CA2B5'>Ghi danh</b-button>
                    </b-card-footer>
                </b-card>
            </b-form>
          </div>
        </div>
      </div> 
    </div>
    </div>
  </div>
</template>

<script>
import Header from '@/views/layout/AppHeader';
export default {
  data() {
    return {
    };
  },
  components: {
    Header,
  },
  mounted() {
    const self = this;
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      const self = this;
    },
  },
};
</script>
<style scoped lang='scss'>
#fform {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  /* margin-top: -150px; */
  form {
    width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    background: #fff;
    .card-footer {
      background: #fff;
      padding: 0px 1.25rem 1rem 1.25rem;
    }
    .card,
    .card-footer,
    .card-header {
      border: 0px;
    }
    h4 {
      margin: 0px;
    }
  }
}
</style>
